# .env
FLASK_DEBUG=False
FLASK_ENV=production
SECRET_KEY=your-super-secret-random-key-here-make-it-long
BASE_URL=https://thewebbaby.onrender.com
CONTACT_EMAIL=xxxxxx@aol.com
NEWS_PAGE_SIZE=12
API_CACHE_TTL=300
WEATHER_CACHE_TTL=300
WB_LAT=43.6532
WB_LON=-79.3832
WEATHER_API_KEY=xxxxxxxxxxx
